<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trying to get feed to work</title>
    <style>
        img {
            width: 25%;
            height: auto;

            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 300px;
        }
    </style>
</head>
    <div class="Content">
        <!-- temporay logout button -->
        <form class="logout-link" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>

        {% for post in posts %}
            <h3>{{ post.owner }}</h3>
            <img src="{{ post.image.url }}" width="256" height="256"/>
            <p>{{ post.description }}</p>
            <p>{{ post.date_added }}</p>
        {% empty %}
            No post have been added yet
        {% endfor %}
    </div>
<body>
    
</body>
</html>